/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.game-area {
	
    margin-top: 25px;
	width: 450px;
}

.tic-tac-toe-grid {
	
	div mat-grid-tile {
        cursor: pointer;
                
        i.material-icons.tick {
            color: white;
        }
        
        i.material-icons.cross {
            color: red;
        }
		
	}

}